/* Empty. Add your own CSS if you like */
/* Fondos */
.bgCeleste { background-color: #2CA1BC; color: #FFF; }
	a.bgCeleste:hover, input.bgCeleste:hover { 
		background-color: #1FACCC; 
		text-decoration: none;
	}
.bgNaranja { background-color: #F18F09; color: #FFF; }
	a.bgNaranja:hover, input.bgNaranja:hover {
		background-color: #FFA52B;
		text-decoration: none;
	}
.bgVerde { background-color: #31AD2A; color: #FFF; }
	a.bgVerde:hover, input.bgVerde:hover {
		background-color: #38C430;
		text-decoration: none;
	}
.bgRojo { background-color: #F75300; color: #FFF; }
.bgAmarillo { background-color: #F2B829; color: #FFF; }

.bgGris { background-color: #3E3E40; color: #FFF; }

/* Acordion */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
