  <ion-view view-title="Diario">
    <ion-content>    
      <ion-list>       
        <div class="itemDiario" ng-repeat="days in data.data" ng-class="{true: '', false: 'mf-week'}[isDataTitle(days.isTitle)]">       
          <ion-item class="item-dark p0"
                          ng-click="toggleGroupDays(days)"
                          ng-class="{active: isGroupDaysShown(days)}">  
            <div class="row">
              <div class="col" ng-class="{true: 'col-75', false: 'mf-week'}[isDataTitle(days.isTitle)]"><h3 class="cBlanco t20">{{days.fecha}}</h3></div>
              <div class="col col-25 alR" ng-show="isDataTitle(days.isTitle)" ng-click="show(days.fecha)"><img src="img/icons/plus-naranja.png" alt="" /><!--<i class="icon ion-android-add-circle t36 cNaranja"></i>--></div>
            </div>
            <div ng-show="isThereData(days.nodata)" class="row barraEnergia">
                <div class="overlay"></div>
                <div ng-repeat="valores in days.data" class="col {{ valores.mensaje.clase}}"></div>        
            </div>
          </ion-item>
          <ion-item class="item-accordion p0"                     
                    ng-show="isGroupDaysShown(days)">           
            <ion-list ng-show="isThereData(days.nodata)">
              <div ng-repeat="valores in days.data" class="item-ficha item-{{ valores.mensaje.clase}}">
                <ion-item class="row"
                          ng-click="toggleGroup(valores)"
                          ng-class="{active: isGroupShown(valores)}">             
                    <span class="col">{{ valores.mensaje.titulo }}</span>
                  <span class="col">{{ valores.valor }}</span>
                  <span class="col-25 alR"><img ng-if="valores.badge!==false" src="img/badges/{{ valores.badge }}" alt="Badge" /> <strong style='margin-left: 5px' class="numBadge mr10" ng-if="valores.badge!==false">x 20</strong></span>                
                </ion-item>
                <ion-item class="item-accordion infoDesp row"                     
                          ng-show="isGroupShown(valores)">
                  <p class="wBold">{{valores.mensaje.resumen}}</p>
                </ion-item>
              </div>
            </ion-list> 
            <ion-list ng-show="isThereNoData(days.nodata)">
              <div class="row p10 bgGrisClaro">
                  <div class="col-20 alC">
					<img src="img/icons/bg-alerta.png" alt="" class="inline" />
                    <!--<i class="icon ion-alert-circled t36 helpedVA"></i><span class="helperVA"></span> -->
                  </div>
                  <p class="col-80 wsNormal">Todavía no ingresaste los datos necesarios para el resumen del día. Por favor, usa el botón "+" para realizar la carga.</p>
              </div>
            </ion-list>
          </ion-item>
        </div>
      </ion-list>
      <ion-infinite-scroll
        on-infinite="test({{data.fecha_siguiente}})"
        distance="1%">
      </ion-infinite-scroll>
    </ion-content>
  </ion-view>
