<ion-view view-title="Semana">
  <ion-content>
    <div class="list">
      <div ng-repeat="item in items">
        <div class="item item-divider">
          {{ item.nombre }}
        </div>
        <a class="item item-icon-left" href="#">
          <i class="icon {{ item.icon }}"></i>
          <div class="row barraEnergia">
            <div ng-repeat="actividad in item.days" class="col {{ actividad.clase}}"></div>
          </div>
        </a>
      </div>
  </div>
  </ion-content>
</ion-view>
