<ion-view view-title="Comidas" cache-view="false">  
  <ion-content>
	<ion-item class="item-dark p0 mt20 itemDiario">
        <div class="row">
            <div class="col"><h3 class="cBlanco wLight">Comidas y bebidas  del día <strong>19 / 10 / 2015</strong></h3></div>
            <div class="col col-15 alR" ng-click="agregarComidas()"><img src="img/icons/plus-naranja.png" alt="" /></div>
        </div>
    </ion-item>
    <!--<ion-list can-swipe="true">
      <ion-item ng-repeat="actividad in data">

        <div class="row">
          <div class="col col-50">{{actividad.nombre}}</div>      
          <div class="col col-25">{{actividad.minutos}}</div>      
          <div class="col col-25">{{actividad.total_kcal}}</div>      
        </div>
      <ion-option-button class="button-positive">
        <i class="icon ion-ios-trash"></i>
      </ion-option-button>      
    </ion-item>
  </ion-list>-->
    <div class="row mt10">
        <div class="col alC">
            <p class="t14 mb0">Ingesta calórica del día</p>
            <p class="t20"><strong>2630</strong> cal.</p>
        </div>
        <div class="col alC">
            <p class="t14 mb0">Gasto calórico del día</p>
            <p class="t20"><strong>2630</strong> cal.</p>
        </div>
    </div>
    <div class="p20 alC wLight pt0">
      <p class="t16">Gasto calórico del día</p>
      <p class="t36"><strong class="cVerde">2630</strong> cal.</p>
    </div>
    
    <div class="tablaDatos">
      <div class="row firstRow">
          <div class="col col-30">Nombre</div>      
          <div class="col col-15">HC(g)</div>      
          <div class="col col-15">Prot.(g)</div>      
          <div class="col col-15">Gra.(g)</div>      
          <div class="col col-15">KgCal.</div>      
          <div class="col col-10"></div>      
      </div>  
      <h6>Desayuno</h6>
      <div class="list-item" ng-repeat="comida in data | filter:{periodo:'1'}:true">
        <div class="row">
          <div class="col col-30">{{comida.nombre}}</div>      
          <div class="col col-15">{{comida.grs_hid_de_carb}}</div>      
          <div class="col col-15">{{comida.grs_proteinas}}</div>      
          <div class="col col-15">{{comida.grs_grasas}}</div>      
          <!--<div >{{comida.grs_alcohol}}</div>-->      
          <div class="col col-15">{{actividad.kcal_total_SUMA}}</div>      
          <div class="col col-10"><i class="icon ion-android-cancel cNaranja" ng-click="borrarComida(comida.id)"></i></div>      
        </div>      
      </div>
      <h6>Almuerzo</h6>
      <div class="list-item" ng-repeat="comida in data | filter:{periodo:'2'}:true">
        <div class="row">
          <div class="col col-30">{{comida.nombre}}</div>      
          <div class="col col-15">{{comida.grs_hid_de_carb}}</div>      
          <div class="col col-15">{{comida.grs_proteinas}}</div>      
          <div class="col col-15">{{comida.grs_grasas}}</div>      
          <!--<div class="col ">{{comida.grs_alcohol}}</div>-->
          <div class="col col-15">{{actividad.kcal_total_SUMA}}</div>      
          <div class="col col-10"><i class="icon ion-android-cancel cNaranja" ng-click="borrarComida(comida.id)"></i></div>      
        </div>      
      </div>
      <h6>Cena</h6>
      <div class="list-item" ng-repeat="comida in data | filter:{periodo:'3'}:true">
        <div class="row">
          <div class="col col-30">{{comida.nombre}}</div>      
          <div class="col col-15">{{comida.grs_hid_de_carb}}</div>      
          <div class="col col-15">{{comida.grs_proteinas}}</div>      
          <div class="col col-15">{{comida.grs_grasas}}</div>      
          <!--<div class="col ">{{comida.grs_alcohol}}</div>-->      
          <div class="col col-15">{{actividad.kcal_total_SUMA}}</div>      
          <div class="col col-10"><i class="icon ion-android-cancel cNaranja" ng-click="borrarComida(comida.id)"></i></div>      
        </div>      
      </div>
      <h6>Varios</h6>
      <div class="list-item" ng-repeat="comida in data | filter:{periodo:'4'}:true">
        <div class="row">
          <div class="col col-30">{{comida.nombre}}</div>      
          <div class="col col-15">{{comida.grs_hid_de_carb}}</div>      
          <div class="col col-15">{{comida.grs_proteinas}}</div>      
          <div class="col col-15">{{comida.grs_grasas}}</div>      
          <!--<div class="col ">{{comida.grs_alcohol}}</div>-->      
          <div class="col col-15">{{actividad.kcal_total_SUMA}}</div>      
          <div class="col col-10"><i class="icon ion-android-cancel cNaranja" ng-click="borrarComida(comida.id)"></i></div>      
        </div>      
      </div>
    </div>

	<div class="p20 alC">
      <a ng-click="agregarComidas()" class="pt10 pb10"><img style="width: 30px; height: 30px;" src="img/icons/plus-naranja.png" /></a>
      <button class="button button-block button-balanced item list-inset-separate ion-archive icon-right">Guardar cambios</button>
    </div>
  </ion-content>
</ion-view>
