<ion-view view-title="Editar perfil">  
  <ion-content>
    <form ng-submit="doLogin()" class="standardForm">
      <div class="list list-inset">
          
        <p class="content padding">En esta sección vas a poder modificar información general referída a tu cuenta.</p>
        
        <div class="alC">
          <img class="avatar" src="http://www.fxhernandez.com.ar/sitios/entrenate/aplicacion/img/avatars/default_avatar.png" />
          <label class="item item-input list-inset-separate">          
            <input type="file" name="avatar" placeholder="Cargar imagen de perfil" ng-model="usuario.avatar" />
          </label>
        </div>
        
        <label class="item item-input list-inset-separate">          
          <input type="text" name="usuario" placeholder="Nombre de usuario" ng-model="usuario.usuario" />
        </label>
        
        <label class="item item-input list-inset-separate">          
          <input type="password" name="pass" placeholder="Nueva contraseña" ng-model="usuario.pass" />
        </label>
        
        <button class="button button-block button-stable item list-inset-separate ion-android-arrow-dropright-circle icon-right" type="submit">Actualizar</button>
        
        <p class="content padding">Si necesitas actualizar tu información sobre peso y tallas, hacelo mediante el siguiente enlace:</p>
        <button class="button button-block button-stable item list-inset-separate ion-edit icon-right" ui-sref="appLog.medidas">Actualizar medidas corporales</button>
        
      </div>
    </form>
  </ion-content>
</ion-view>
