<ion-view view-title="Recuperar contraseña">  
  <ion-content>
    <form ng-submit="doLogin()" class="standardForm">
      <div class="list list-inset">
          <p class="content padding">Ingresá la dirección de email con la que estás registrado en el sistema.</p>
          <label class="item item-input list-inset-separate">          
          <input type="text" name="mail" placeholder="Direccion de e-mail" ng-model="usuario.mail" />
        </label>
        <button class="button button-block button-stable item list-inset-separate bgIconDe iconLogin" type="submit">Enviar</button>
        <button ui-sref="appNoLog.login" class="button button-block button-light">Volver al inicio de sesión</button>
        <br/>
        <h4 class="alC">¿Todavia no sos miembro?</h4>
        <button class="button button-block button-stable item list-inset-separate bgIconDe iconUser" ui-sref="appNoLog.register">¡Registrate ahora mismo!</button>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar>
    <div ng-include src="'templates/footer.html'" class="w100"></div>
  </ion-footer-bar>
</ion-view>
