<ion-view view-title="Registro">  
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list list-inset">
        <label class="item item-input list-inset-separate">          
          <input type="text" placeholder="Nombre de usuario" />
        </label>
        <label class="item item-input list-inset-separate">          
          <input type="email" placeholder="Dirección de e-mail" />
        </label>
        <label class="item item-input list-inset-separate">          
          <input type="password" placeholder="Contraseña" />
        </label>
        <label class="item item-input list-inset-separate">          
          <input type="password" placeholder="Confirmar contraseña" />
        </label>
        <ion-checkbox ng-model="acceptTermsAndConditions">He leído, y acepto los terminos y condiciones y la politica de privacidad del sitio.</ion-checkbox>
        <div class="row">
          <a class="col" href="#">Recuperar Contraseña</a>
          <button class="button button-block button-stable item list-inset-separate col" type="submit">Continuar</button>          
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
