<ion-view view-title="Registro de nuevo usuario">  
  <ion-content>
    <form ng-submit="doRegister()" class="standardForm">
      <div class="list list-inset">
        <label class="item item-input list-inset-separate">          
          <input type="text" placeholder="Nombre de usuario" />
        </label>
        <label class="item item-input list-inset-separate">          
          <input type="email" placeholder="Dirección de e-mail" />
        </label>
        <label class="item item-input list-inset-separate">          
          <input type="password" placeholder="Contraseña" />
        </label>
        <label class="item item-input list-inset-separate">          
          <input type="password" placeholder="Confirmar contraseña" />
        </label>
        <ion-checkbox ng-model="acceptTermsAndConditions">He leído, y acepto los terminos y condiciones y la politica de privacidad del sitio.</ion-checkbox>
        <button class="button button-block button-stable item list-inset-separate bgIconDe iconNext" type="submit">Continuar</button>          
        <button ui-sref="appNoLog.recuperar" class="button button-block button-light">Recuperar Contraseña</button>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar>
    <div ng-include src="'templates/footer.html'" class="w100"></div>
  </ion-footer-bar>
</ion-view>
