<ion-view view-title="Bienvenido a Mitikas Fitness">  
  <ion-content>
      <div class="welcomeBanner sdwB">
          <img src="img/screen.png" />
      </div>
      <div class="list list-inset">
          <h4 class="content">¡Salí del sedentarismo y mejorá tu forma física!</h4>
          <p class="content">Con esta aplciación podrás hacer un seguimiento de tus actividades y comidas para llevar una vida activa y saludable.</p>
          <button class="mt20 button button-block button-stable item list-inset-separate bgIconDe iconUser" ui-sref="appNoLog.register">¡Registrate ahora mismo!</button>
          <h5 class="alC mt20">¿Ya tenés una cuenta?</h5>
          <button ui-sref="appNoLog.login" class="button button-block button-stable item list-inset-separate bgIconDe iconLogin mt0">Ingresá</button>
      </div>
  </ion-content>
  <ion-footer-bar>
    <div ng-include src="'templates/footer.html'" class="w100"></div>
  </ion-footer-bar>
</ion-view>
